.selection-none {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
html {
  height: 100%;
}
body {
  font-size: 14px;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  height: 100%;
  position: relative;
  margin: 0;
}
p {
  margin: 0;
  margin-left: 0.3em;
}
.title {
  font-size: 2.0em;
  font-weight: bold;
}
.smalltitle {
  font-size: 1.4em;
  font-weight: bold;
}
#p_path {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main-container {
  display: flex;
  -ms-flex-flow: column nowrap;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  align-items: stretch;
  position: relative;
  flex-grow: 1;
  margin: 2em 2em;
}
.containerbase {
  position: relative;
}
.title-container {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
}
.path-container {
  position: relative;
  display: flex;
  -ms-flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  align-items: stretch;
  overflow-x: auto;
  overflow-y: hidden;
  height: 2.6em;
  background: #d1d1d1;
  scrollbar-track-color: transparent;
  scrollbar-arrow-color: transparent;
}
.path-container::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.path-container::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.3);
}
.path-container div.pathitem {
  position: relative;
  padding: 0.5em 0.5em;
  cursor: pointer;
  padding-right: 1.3em;
  flex-shrink: 0;
  flex-grow: 0;
  transition: all ease-in-out 0.2s;
}
.path-container div.pathitem span {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: block;
  transition: all ease-in-out 0.2s;
}
.path-container div.pathitem::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 0;
  height: 0;
  border-top: 1.3em solid #d1d1d1;
  border-left: 1em solid #fff;
  border-bottom: 1.3em solid #d1d1d1;
  transition: all ease-in-out 0.2s;
}
.path-container div.pathitem::after {
  position: absolute;
  top: 0.1em;
  right: 0.1em;
  content: "";
  width: 0;
  height: 0;
  border-top: 1.25em solid transparent;
  border-left: 1em solid #d1d1d1;
  border-bottom: 1.25em solid transparent;
  transition: all ease-in-out 0.2s;
}
.path-container div.pathitem:active span {
  transform: scale(0.9);
}
.path-container div.pathitem.hovered {
  background: #aaa;
}
.path-container div.pathitem.hovered::before {
  border-top-color: #d1d1d1;
  border-left-color: #aaa;
  border-bottom-color: #d1d1d1;
}
.path-container div.pathitem.hovered-before::before {
  border-top-color: #aaa;
  border-left-color: #d1d1d1;
  border-bottom-color: #aaa;
}
.path-container div .pathitem.hovered-before::after,
.path-container div.pathitem.hovered::after {
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}
.search-container {
  position: relative;
  display: flex;
  -ms-flex-flow: column nowrap;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  align-items: stretch;
  flex-grow: 0;
  flex-shrink: 0;
  margin-top: 1.4em;
  margin-bottom: 1.4em;
}
.list-container {
  position: relative;
  display: flex;
  -ms-flex-flow: column nowrap;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  align-items: stretch;
  flex-grow: 1;
  flex-shrink: 1;
  overflow-y: auto;
  overflow-x: hidden;
}
div.list div.item {
  display: flex;
  -ms-flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0.3em 0.4em;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}
div.list div.item img {
  max-width: 2em;
  max-height: 2em;
  margin-right: 0.4em;
  flex-grow: 0;
  flex-shrink: 0;
}
div.list div.item span.itemname {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  flex-grow: 1;
  flex-shrink: 1;
}
div.list div.item span.itemsize {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  flex-grow: 0;
  flex-shrink: 0;
}
div.list div.item:active {
  transform: scale(0.98, 0.94);
}
div.list div.item:hover {
  background: rgba(100, 100, 100, 0.4);
}
div.directory > div.item > span.itemsize {
  display: none;
}
.upload-flyout {
  display: flex;
  -ms-flex-flow: column nowrap;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  align-items: stretch;
  width: 20em;
  height: 14em;
}
.upload-flyout .upload-pick-container {
  display: flex;
  -ms-flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  align-items: stretch;
  flex-grow: 0;
  flex-shrink: 0;
}
.upload-flyout .upload-pick-container > input {
  flex-grow: 1;
  flex-shrink: 1;
}
.upload-flyout .upload-pick-container > div {
  flex-grow: 0;
  flex-shrink: 0;
}
.upload-flyout .upload-control-container {
  display: flex;
  -ms-flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  align-items: stretch;
  flex-grow: 0;
  flex-shrink: 0;
}
.upload-flyout .upload-control-container div {
  flex-grow: 0;
}
.upload-flyout .upload-preview-container {
  display: flex;
  -ms-flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0.3em;
  margin-bottom: 0.6em;
  overflow: hidden;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
}
.upload-flyout .upload-pic-preivew {
  max-height: 100%;
  max-width: 100%;
}
.upload-flyout .upload-progress-container {
  display: flex;
  -ms-flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: center;
  position: relative;
  margin: 0 0.3em;
  height: 1em;
  flex-grow: 0;
  flex-shrink: 0;
}
.upload-flyout .upload-progress {
  flex-grow: 1;
  flex-shrink: 1;
  background: #ccc;
  overflow: hidden;
}
.upload-flyout .upload-progress .upload-progress-real {
  width: 0%;
  position: relative;
  height: 100%;
  background: #003567;
}
.upload-flyout .upload-progress-indicator-container {
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0.9em;
  align-self: center;
  margin-left: 0.3em;
}
.upload-flyout .upload-progress-indicator-container p {
  margin: 0;
}
.createdir-flyout {
  display: flex;
  -ms-flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  align-items: center;
  width: 20em;
  height: 4em;
}
.createdir-flyout .createdir-name {
  flex-grow: 1;
  flex-shrink: 1;
}
.createdir-flyout .createdir-ok {
  flex-grow: 0;
  flex-shrink: 0;
}